<h2>Total Suspended Matter</h2>
<hr>
<div class="fieldSet boxed_list" style="height:95%">
    <div id="infoPanelContent" style="height:100%">
      <h3>Introduction</h3>
      <div>
        <div id="img_display" style="text-align: center; height: 28%;">
          <img src=/static/assets/images/tsm_sample.png class="image-display" />
          <span class="image-description">Average TSM values of Lake Chad over ten years.</span>
        </div>
        <br><br>
        <h3>Summary</h3>
        The TSM Tool uses a collection of acquisitions to find the average total suspended matter in a given area over the specified time frame. The TSM algorithm can be found <a target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0034425716301560">here</a>.
        <br><br>
        <h3>Input Options</h3>
        The available options include a choice in background color and time series animation. The time series animation option produces a GIF showing the TSM values over time. Chosing "None" causes tasks to run more quickly.
        <br><br>
        <h3>Output Data</h3>
        The output image will contain the average TSM values over the requested time period and be displayed on the map. The data product is available for download in both NetCDF and GeoTiff format along with any images/animations created.
      </div>
      <h3>Task Parameters</h3>
      <div>
        <h3>Output Image Characteristics</h3>
        The output image characteristics section contains options that affect the output image and time series animation created.
        <br>
        <h4>Background Color</h4>
        The background color will be used to fill in any missing or non water pixels in the output image. TSM only operates on pixels that are classified as water greater than 80% of the time, so any pixels that do not meet this criteria will be filled with the background color.
        <h4>Generate Time Series Animation</h4>
        The time series animation options refer to an animated GIF of data on a per scene basis. Choosing "None" will not produce an animation and will be completed significantly more quickly than if an animation was generated. Choosing "Cumulative Average" will use the running TSM average as the frames of the GIF, while "Scene" will use the TSM classification of each scene instead.
        <br><br>
        <h3>Geospatial Bounds</h3>
        These bounds will be use to filter the available data. For any given bounding box, each acquisition that is found between start and end date will be used to create the mosaic.
        The bounding box can either be drawn on the map by a single click, drag, and second click, or by entering valid values in the boxes.
      </div>
      <h3>Task Outputs</h3>
      <div>
        <h3>Output Image Display</h3>
        The resulting image is the average TSM value of each pixel over the requested time series. The color scale used for the TSM values can be found under the "Color Scale" tab of this section. Purple and blue values are lower, while red and orange pixels signify a higher TSM value.
        <br><br>
        <h3>Managing Completed Tasks</h3>
        In the results tab, selecting a task will load in the list of all acquisitions and some relevant data. From this panel, you are able to compute the TSM of any single acquisition by clicking "Load this scene". To remove a task from the map display, press either delete or the hide button on the results tab.
        <br><br>
        <h3>Product Download</h3>
        All products can be downloaded using the output tab. A GeoTIFF and NetCDF are available containing the average TSM values and the number of valid acquisitions, as well as the map image and time series animation if available.
      </div>
      <h3>Color Scale</h3>
      <div>
        <h3>TSM Color Scale</h3>
        <div id="img_display" style="text-align: center; height: 30%;">
          <img src=/static/assets/images/tsm_color_scale.png class="image-display" />
          <span class="image-description">Average TSM values color scale.</span>
        </div>
        <br><br>
        <h3>Clear Observations Color Scale</h3>
        <div id="img_display" style="text-align: center; height: 40%;">
          <img src=/static/assets/images/clear_observations_color_scale.png class="image-display" />
          <span class="image-description">Clear observations color scale.</span>
        </div>
      </div>
    </div>
</div>
<script>
$( function() {
  $( "#infoPanelContent" ).accordion({
    collapsible: true,
    heightStyle: "fill"
  });
} );
</script>
