{% block css %}
<link rel="stylesheet" href="/static/assets/css/info_panel.css"/>
{% endblock %}

<h2>NDVI Anomaly</h2>
<hr>
<div class="fieldSet boxed_list" style="height:95%">
  <div id="infoPanelContent">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
	<div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#intro">Introduction</a>
          </h4>
	</div>
	<div id="intro" class="panel-collapse collapse in">
          <div class="panel-body">
	    <h3>Summary</h3>
            The NDVI Anomaly Tool compares the NDVI of a single acquisition to a baseline formed from the median of multiple scenes from the past. Months are selected to define a custom baseline period: Past scenes from the selected months are combined to form the median. This tool is based on the <a href="http://cropmonitor.org/pages/data-eo-data.php?id=ndvi">GEOGLAM Crop Monitor tool</a>.
            <br><br>
            <h3>Input Options</h3>
            The available input options include the geographic extent, the desired scene by acquisition date, and the baseline period in months. Please note that selecting a geographic extent that has no intersection with the selected scene will return no results.
            <br><br>
            <h3>Output Data</h3>
            Four output images will be produced: The NDVI difference, the NDVI percentage change, the NDVI of the selected scene, and a true color image of the selected scene. A GeoTIFF and NetCDF file is also produced for the NDVI based products.	    
	  </div>
	</div>
      </div>
      <div class="panel panel-default">
	<div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#task_params">Task Parameters</a>
          </h4>
	</div>
	<div id="task_params" class="panel-collapse collapse">
          <div class="panel-body">
            <h3>Data Selection</h3>
            The Data Selection subsection includes options used to form the baseline.
            <br>
            <h3>Baseline Period</h3>
            Choose one or more months to form a baseline comprised of past scenes that occur within those months. To produce more meaningful results, choose baseline months that correspond with the season of your selected scene.
            <br><br>
            <h3>Geospatial Bounds</h3>
            These bounds will be use to filter the available data. The bounding box can either be drawn on the map by a single click, drag, and second click, or by entering valid values in the boxes.
            The scene selection option determines what acquisition is compared to the baseline. This is a single scene operation, so expect some missing data due to banding or no-data.            
	  </div>
	</div>
      </div>
      <div class="panel panel-default">
	<div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#task_outputs">Task Outputs</a>
          </h4>
	</div>
	<div id="task_outputs" class="panel-collapse collapse">
          <div class="panel-body">
            <h3>Output Image Display</h3>
            The default displayed image is the NDVI difference, or the baseline NDVI subtracted from the scene NDVI. The percentage change between the baseline and the scene is also available, along with the scene NDVI and the scene image.
            The color scales for these images can be found under the color scale header on this panel.
            <br><br>
            <h3>Managing Completed Tasks</h3>
            Various metadata is available under the results tab. The displayed image is selected here, and a listing of all scene metadata and metadata from all baseline scenes can be seen here. To remove a task from the map display, press either delete or the hide button on the results tab.
            <br><br>
            <h3>Product Download</h3>
            All display products can be downloaded from the output tab. A NetCDF and GeoTIFF is avaible containing the NDVI difference, NDVI percent change, and scene NDVI.            
	  </div>
	</div>
      </div>
      <div class="panel panel-default">
	<div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#color_scale">Color Scale</a>
          </h4>
	</div>
	<div id="color_scale" class="panel-collapse collapse">
          <div class="panel-body">
	    <h3>NDVI Difference Color Scale</h3>
            <div id="img_display" style="text-align: center; height: 30%;">
              <img src=/static/assets/images/ndvi_differencing_scale.jpg class="image-display" />
              <span class="image-description">NDVI difference color scale.</span>
            </div>
            <br><br>
            <h3>NDVI Percentage Change Color Scale</h3>
            <div id="img_display" style="text-align: center; height: 30%;">
              <img src=/static/assets/images/ndvi_percentage_change_color_scale.png class="image-display" />
              <span class="image-description">NDVI percentage change color scale.</span>
            </div>
            <h3>NDVI Color Scale</h3>
            <div id="img_display" style="text-align: center; height: 30%;">
              <img src=/static/assets/images/ndvi_color_scale.png class="image-display" />
              <span class="image-description">NDVI color scale.</span>
            </div>    
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
