notebooks/AMA
notebooks/experimental
notebooks/indexing
notebooks/scalability/Dask/mydask.png
notebooks/training/ardc_training/test.csv
notebooks/water/coastline/wofs_compare.png
land_change/SAR
.idea
.ipynb_checkpoints
nohup.out
**/output/*
dask-worker-space
__pycache__
*.nc
*.tif
*.tar.gz
*.gif
**/tmp
**/output