## Dependencies for this particular environment (CEOS) ##
# TODO: Can this be removed if we use `odc.algo.xr_geomedian()`?
hdmedians==0.14
lcmap-pyccd==2018.10.17
shapely==1.6.4
fiona==1.8.17
bokeh==2.2.1
seaborn==0.11.0
geopandas==0.8.1
scikit-learn==0.23.2
tqdm==4.49.0
descartes==1.1.0
python-dateutil==2.8.0
holoviews==1.13.4
joblib==0.16.0
odc-algo # 0.1.dev610+g46c92a6
datashader==0.11.1
dask[dataframe] # 2.27.0
# only used by animations/3D/GA_Water_3DReservoir
rasterstats==0.15.0