{% extends "centered_form.html" %}
{% load i18n %}

{% block form %}
{% if form.non_field_errors %}
<a style="" href="{% url 'lost_password' %}">{% trans "Forgot your username or password? Reset it here." %}</a>
{% endif %}

<form action="{% url 'login' %}" method="post" id="login-form">
    {% csrf_token %} {% for field in form.visible_fields %}
    <div class="form-row comment_input">
        <label class="required" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="submit-row">
        <label>&nbsp;</label>
        <input id="log-in-submit" type="submit" value="{% trans " Log in " %}" />
    </div>
</form>
{% endblock %}
