{% extends "centered_form.html" %}
{% load i18n %}

{% block form %}
<form action="{% url 'registration' %}" method="post" id="registration-form">
    {% csrf_token %} {% for field in form.visible_fields %}
    <div class="form-row comment_input">
        <label class="required" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="submit-row">
        <label>&nbsp;</label>
        <input id="log-in-submit" type="submit" value="{% trans " Register and Log In " %}" />
    </div>
</form>

{% endblock %}
