/* Generic css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header-content
{
    padding-top: 52px;
}

body {
    padding-top: 55px;
    font: 13px/1.5em 'Helvetica Neue', Helvetica, Helvetica Neue, Arial, sans-serif;
    background-color: #fff;
    margin: 0;
}

/* Left image */
.col-lg-6
{
    height: 100%;
}

.center_image
{
    text-align: center;
}

/* Right side text */
.left_align
{
    text-align: left;
}

.container-table {
    display: table;
    height: calc(100% - 45px);
}

.container-table.no-footer {
    height: 100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/* Login button */
.btn-primary
{
    background-color: #ca4f2d;
}

#button-div
{
    float: right;
}