h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Filter specific */

#filters-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}
#running_tasks {
    height: 225px;
    border: 1px solid coral;
    padding-left: 0;
    list-style: none;
    overflow-y: auto;
}
#running_tasks li {
    padding: 2px;
}
#running_tasks li .progress {
    margin-bottom: 0px;
}
#task_history {
    height: 775px;
    border: 1px solid coral;
    overflow-y: auto;
}
#task_list {
    height: 290px;
    border: 1px solid coral;
    overflow-y: auto;
}
#scenes_list {
    height: 250px;
    border: 1px solid coral;
    overflow-y: auto;
}
#task_metadata {
    height: 150px;
    border: 1px solid coral;
    overflow-y: auto;
}
#infoPanelContent {
    height: 100%;
    border: 1px solid lightgrey;
    padding: 5px;
}

/* Output box css */

#output_list {
    height: 400px;
    overflow-y: auto;
    border: 1px solid coral;
    margin-bottom: 0px;
}
#data_guide {
    height: 275px;
    overflow-y: auto;
    border: 1px solid coral;
    margin-bottom: 0px;
}
#data_guide .helper {
    float: none;
}
#download_sel {
    margin-top: 10px;
}

/* Map css */
.hidden {
  display:none;
}
.leaflet-control.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.leaflet-control.info.lat_lon_container {
    font-size: 17px;
}
.leaflet-control.info img {
    max-height: 750px;
    max-width: 450px;
}
.leaflet-control.info.map_plot img {
    max-height: 350px;
    max-width: 100%;
}
.leaflet-bar.leaflet-control.leaflet-control-custom {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.8);
}
.leaflet-bar.leaflet-control.leaflet-control-custom.label {
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.glyphicon_container {
    text-decoration: none;
}
.glyphicon.map_icon {
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    width: 30px;
}
.fullscreen-col {
    overflow: auto;
}
.side-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}
.map {
    position: relative;
    z-index: 1;
    width: auto;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid darkgrey;
    background-size: cover;
    background-color: lightgray;
}
.form-group {
    padding-left: 10px;
}
.image-display-vertically-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    border: rgb(255, 127, 80) 2px outset;
}
.form-section-header {
    font-size: 1.5em;
    font-weight: bold;
}
.page-header {
    margin: 0;
    padding-bottom: 0;
    padding-top: 10px;
}
.panel-title.info-panel {
    font-weight: bold;
}
.panel-body {
    overflow-y: auto;
}
.image-display {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    border: rgb(255, 127, 80) 2px outset;
}
.scene_list_table {
    margin-bottom: 0px;
}
.scene_list_table thead tr th {
    padding-bottom: 0;
}
.scene_list_table tbody tr td {
    border-top: none;
    padding: 2px;
    padding-left: 25px;
    padding-right: 10px;
}
.right_aligned_text {
    text-align: right;
}
.form-horizontal .form-group {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.btn-primary {
    margin-top: 10px;
}

/* Generic */

.nav-tabs>li.active>a {
    background-color: coral;
    color: white;
}
.nav-tabs>li.active>a:focus {
    background-color: coral;
    color: white;
}
.nav-tabs>li.active>a:hover {
    background-color: coral;
    color: white;
}
.alternating li:nth-child(odd) {
    background: rgba(255, 127, 80, 0.15);
}
.helper {
    float: left;
    display: inline-block;
}
.helper a {
    display: block;
    height: 15px;
    width: 15px;
    font-size: 12px;
    text-align: center;
    background: #ccc;
    color: #000;
    border-radius: 15px;
    cursor: pointer;
}
.helper a:hover {
    background: #28597a;
    color: #fff;
    cursor: pointer;
}
.helper_filler {
    display: inline-block;
}
.helper_filler a {
    display: block;
    line-height: 20px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    color: transparent;
}
