/* Modal title bar */
#header
{
    background-color: #417690;
    text-align: left;
    color: #f5dd5d;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 5px;   
}

/* Button css */
.btn-primary
{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#button-div
{
    margin-bottom: 5px;
    float: none;
}

/* Register link */
.register
{
    float: right;
    font-size: 18px;
    margin-bottom: 10px
}

/* Generic css */
.col-lg-12
{
    border: 1px solid #417690;
}

.form-horizontal .form-group
{
    margin-left: 10px;
    margin-right: 10px;
}
