h2
{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

hr
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#task_list
{
    height: 290px;
    border: 1px solid coral;
    overflow-y: auto;
}

#scenes_list
{
    height: 250px;
    border: 1px solid coral;
    overflow-y: auto;
}

#query_metadata
{
    height: 150px;
    border: 1px solid coral;
    overflow-y: auto;
}

.scene_list_table {
  margin-bottom: 0px;
}

.scene_list_table tbody tr td {
  border-top: none;
}

.scene_list_table tbody tr td:first-child {

}
