.navbar-fixed-top
{
    background-color: #444;
    border-bottom: 3px solid #fdc207;
    box-shadow: 0 2px 3px rgba(0,0,0,.5);
    font-size: 1.75em;
}

.navbar-default .navbar-brand
{
    color: white;
    font-size: 1.25em;
    padding-right: 40px;
}

.navbar-default .navbar-brand:hover
{
    color: white;
}

.glyphicon
{
    padding-right: 5px;
}

.navbar-default .navbar-nav>li>a
{
    color: white;
}

.navbar-right
{
    font-size: 0.6em;
}

.navbar-default .navbar-nav>li>a:hover
				     {
					 background-color: #EEEEEE;
					 color: black;
				     }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
						   {
						       background-color: #BBBBBB;
						   }
						  
.navbar-nav:hover
{
    cursor: pointer;   
}

.open > a.dropdown-toggle
{
    background-color: #EEEEEE;
    color: black;
}

.dropdown-menu
{
    background-color: #EEEEEE;
    padding: 0px;
    border: none;
}

.dropdown-submenu > a
{
    background-color: #EEEEEE;
    color: black;
}

.dropdown-submenu > a:hover
{
    background-color: black;
    color: white;
}