{% extends "default.html" %}

{% block css %}
<link rel="stylesheet" href="/static/assets/css/region_selection.css" />
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row carousel-row">
    <div class="col-lg-12 carousel-col">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="20000">

      	<!-- Wrapper for slides -->
      	<div class="carousel-inner" role="listbox">

      	  {% for tool_description in tool_descriptions %}
      	  {% if forloop.first %}
      	  <div class="item active" style="max-height: 300px" data-keyboard="false" data-pause="hover">
                  <img src="{{ tool_description.image_path }}" alt="">
                  <div class="carousel-caption">
                    <h3>{{ tool_description.image_title }}</h3>
                    <p>{{ tool_description.image_description }}</p>
                  </div>
      	  </div>
      	  {% else %}
      	  <div class="item" style="max-height: 300px" data-keyboard="false" data-pause="hover">
                  <img src="{{ tool_description.image_path }}" alt="">
                  <div class="carousel-caption">
                    <h3>{{ tool_description.image_title }}</h3>
                    <p>{{ tool_description.image_description }}</p>
                  </div>
      	  </div>
      	  {% endif %}
      	  {% endfor %}
      	</div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="background: none">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="background: none">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Container for the rows of areas -->
  <div id="areas" class="row">
  <img src="/static/assets/images/compass.png" alt="" class="compass">
  {% for area in areas %}
  <div class="col-lg-3">
    <a id="{{ area.name }}" href="/{{ app }}/{{ area.id }}" class="area_label">
      <img src="{{ area.thumbnail_imagery }}" alt="" class="img-reponsive img-circle">
      <div class="text_div large visible-lg ">
        {{ area.name }}
      </div>
      <div class="text_div visible-md visible-sm visible-xs">
        {{ area.name }}
      </div>
    </a>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
