{% extends "default.html" %}

{% load i18n %}

{% block page_title %}
{% trans "CEOS Virtualization Environment (COVE) Portal" %}
{% endblock %}

{% block css %}
<!--
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" /> 
-->
<link rel="stylesheet" type="text/css" href="/static/assets/css/style_login.css" />
{% endblock %} {% block content %}
<div id="container" class="login">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">{{ title }}</h1>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        {% if form.errors %} {% for field in form %} {% for error in field.errors %}
        <p class="errornote">
            {{ error }}
        </p>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <p class="errornote">
            {{ error }}
        </p>
        {% endfor %} {% endif %}
        <div id="content-main">
            {% block form %} {% endblock %}
        </div>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"><a style="float:right" href="{% url 'registration' %}">{% trans "Don't have an account? Register here." %}</a></div>
</div>
{% endblock %}
