{% extends "default.html" %}

{% block css %}
<link rel="stylesheet" href="/static/assets/css/region_selection.css" />
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for area in areas %}
        <div class="col-lg-4">
            <a id="{{ area.area_name }}" href="/{{ app }}/{{ area.area_id }}" class="area_label">
                <img src="/static/assets/images/place_holder2.jpg" alt="" class="img-reponsive img-circle">
                <div class="text_div">
                    {{ area.area_name }}
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
