{% extends "centered_form.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block form %}
<form action="{% url 'lost_password' %}" method="post" id="login-form">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% for field in form %}
      {% bootstrap_field field %}
    {% endfor %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    {% buttons %}
      <button type="submit" class="btn btn-default">
        {% trans " Send Email " %}
      </button>
    {% endbuttons %}
</form>
{% endblock %}
